{% apply spaceless %}
{#
    Copyright (C) Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
#}
    {% set items = inputFiles.collections.notes | sort((a, b) => b.metadata.git.createdAt <=> a.metadata.git.createdAt) | slice(0, 11) %}
    {% set lastUpdated = items | map(n => n.metadata.git.updatedAt) | sort | first %}

    <?xml version="1.0" encoding="utf-8"?>
    <feed xmlns="http://www.w3.org/2005/Atom">
        <title>Damien Dart’s Notes (www.robotinaponcho.net)</title>
        <link href="{{ site.urlOrigin }}/notes/"/>
        <link href="{{ site.urlOrigin }}/notes/index.atom" rel="self"/>
        <updated>{{ lastUpdated | date('c') }}</updated>
        <author>
            <email>{{ site.authorEmail }}</email>
            <uri>{{ site.urlOrigin }}/</uri>
            <name>{{ site.author | smartypants }}</name>
        </author>
        <id>{{ site.urlOrigin }}/notes/index.atom</id>
        {% for note in items %}
            <entry>
                <id>{{ site.urlOrigin }}/{{ note.metadata.slug }}</id>
                <link href="{{ site.urlOrigin }}/{{ note.metadata.slug }}"/>
                <published>{{ note.metadata.git.createdAt | date('c') }}</published>
                <summary type="html">
                    <![CDATA[ {{ note.getContent | raw }} <hr><p><em><b>Last updated</b>: {{ note.metadata.git.updatedAt | date('c') }}</em></p> ]]>
                </summary>
                <title>{{ note.metadata.title | smartypants }}</title>
                <updated>{{ note.metadata.git.updatedAt | date('c') }}</updated>
            </entry>
        {% endfor %}
    </feed>
{% endapply %}
