-# Homepage Haml markup for Damien Dart's personal website.
-#
-# Copyright (C) 2013-2016 Damien Dart, <damiendart@pobox.com>.
-# This file is distributed under the MIT licence. For more information,
-# please refer to the accompanying "LICENCE" file.

!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width", "name" => "viewport"}
    :javascript
      #{`uglifyjs #{File.join(File.dirname(__FILE__), "public", "_base.typekit.js")} -c -m`}
    :scss
      #{File.read(File.join(File.dirname(__FILE__), "public", "_base.scss"))}
    %title #{page_title} (www.robotinaponcho.net)
  %body
    %header.header
      %a.header__homepage-link{:href => "/"}
        .header__homepage-link__container www.robotinaponcho.net
    %article.body= page_body
    %footer.footer
      %hr.footer__rule
      %p.footer__copyright Copyright &copy; #{Date.today.strftime("%Y")} Damien Dart
