-# Homepage Haml markup for Damien Dart's personal website.
-#
-# Copyright (C) 2013-2016 Damien Dart, <damiendart@pobox.com>.
-# This file is distributed under the MIT licence. For more information,
-# please refer to the accompanying "LICENCE" file.

- data = YAML.load(File.read(File.join(File.dirname(__FILE__), "public", "_index.yaml")))

!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width", "name" => "viewport"}
    :javascript
      #{`uglifyjs #{File.join(File.dirname(__FILE__), "public", "_index.typekit.js")} -c -m`}
    :scss
      #{File.read(File.join(File.dirname(__FILE__), "public", "_index.scss"))}
    %title Damien Dart's Personal Site (www.robotinaponcho.net)
  %body
    .page-content
      %header.header.tk-adelle-sans
        %h1.header__title Hello! I'm Damien Dart.
        %h2.header__subtitle I occasionally create things.
      %ul.project-list
        - data["projects"].each do |project|
          %li.project-list__item>
            .panel{:class => (project["class_name"] ? "panel--#{project['class_name']}" : nil), :"data-code-example" => (project["code_example"] ? "#{project['code_example']}" : nil)}
              .panel__description.tk-adelle
                %strong.tk-adelle-sans<
                  %a{:href => "#{project['link']}"} #{project["title"]}
                %br>
                = project["description"]
      %footer.footer.tk-adelle-sans
        %hr.footer__rule
        .footer__links
          %ul.footer__links__link-list
            - data["other"].each do |link|
              %li.footer__links__link-list__item<>
                %a{:href => "#{link['link']}"} #{link["title"]}
          %ul.footer__links__link-list
            - data["social"].each do |link|
              %li.footer__links__link-list__item<>
                %a{:href => "#{link['link']}"} #{link["title"]}
        %p.footer__copyright Copyright &copy; #{`date +%Y`} Damien Dart
    :javascript
      #{`uglifyjs #{File.join(File.dirname(__FILE__), "public", "_index.js")} -c -m`}
