-# Homepage Haml markup for Damien Dart's personal website.
-#
-# Copyright (C) 2013-2015 Damien Dart, <damiendart@pobox.com>.
-# This file is distributed under the MIT licence. For more information,
-# please refer to the accompanying "LICENCE" file.

- require "yaml"
- data = YAML.load(File.read(File.join(File.dirname(__FILE__), "public", "_index.yaml")))

!!! 5
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", :"http-equiv" => "Content-Type"}
    %meta{:content => "initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width", "name" => "viewport"}
    %script{:src => "/assets/jquery-1.10.1.min.js"}
    %script{:src => "//use.typekit.net/zkk4eyh.js"}
    %script try{Typekit.load();}catch(e){}
    :scss
      #{File.read(File.join(File.dirname(__FILE__), "public", "_index.scss"))}
    %title Damien Dart's Personal Site (www.robotinaponcho.net)
  %body
    .page-content
      %header.page-content__header.tk-adelle-sans 
        %h1.page-content__header__title <span>Hello! I'm </span>Damien Dart<span>.</span>
        %h2.page-content__header__subtitle I occasionally create things.
      %ul.page-content__project-list
        - data["projects"].each do |project|
          %li.page-content__project-list__item>
            .panel{:"data-code-example" => (project["code_example"] ? "#{project['code_example']}" : nil), :style => (project["image"] ? "background-image: url(#{project['image']})" : nil)}
              .panel__description.tk-adelle
                %strong.tk-adelle-sans<
                  %a{:href => "#{project['link']}"} #{project["title"]}
                <br>
                = project["description"]
      %footer.page-content__footer.tk-adelle-sans
        %hr.page-content__footer__rule
        %ul.page-content__footer__social-list
          - data["social"].each do |link|
            %li.page-content__footer__social-list__item<>
              %a{:href => "#{link['link']}"} #{link["title"]}
        %p.page-content__footer__copyright &copy; 2015 Damien Dart
    :javascript
      #{File.read(File.join(File.dirname(__FILE__), "public", "_index.js"))}
