-# Homepage Haml markup for Damien Dart's personal website.
-#
-# Copyright (C) 2013-2017 Damien Dart, <damiendart@pobox.com>.
-# This file is distributed under the MIT licence. For more information,
-# please refer to the accompanying "LICENCE" file.


- require "yaml"
- gallery_items = YAML.load_file("art.yaml")


!!! 5
%html{:lang => "en", :prefix => "og: http://ogp.me/ns#"}
  %head
    %meta{:charset => "utf-8"}
    %link{:href => "https://use.typekit.net/rvl0fuw.css", :rel => "stylesheet"}
    %meta{:content => "View Damien Dart’s artwork and illustrations.", "name" => "description"}
    %meta{:content => "initial-scale=1.0, maximum-scale=1.0, width=device-width", "name" => "viewport"}
    %meta{:content => "View Damien Dart’s artwork and illustrations.", "property" => "og:description"}
    %meta{:content => "https://www.robotinaponcho.net/assets/og.png", :property => "og:image"}
    %meta{:content => "Damien Dart's Art", :property => "og:title"}
    %meta{:content => "website", :property => "og:type"}
    %meta{:content => "https://www.robotinaponcho.net/art/", :property => "og:url"}
    :autoprefixscss
      #{File.read("art.scss")}
    %title Damien Dart's Art (www.robotinaponcho.net)
  %body
    %h1.title Damien's Art
    .gallery
      - gallery_items.each do |item|
        %article.gallery__item{:style => "background-color: #{item['colour']};"}
          %img.gallery__item__image{:alt => item["alt"], :src => item["filename"]}
          %p.gallery__item__description <b>#{item["year"]}</b>&mdash;#{item["description"]}
    %p.other-links <b>See also <a href="#">Instagram</a> and <a %%href="#">Tumblr</a>.</b><br>Copyright (c) #{`date +%Y`} Damien Dart.<span> All rights reserved.</span>
    %footer.footer
      %hr.footer__rule
      %a.footer__link{:href => "https://www.robotinaponcho.net/"} www.robotinaponcho.net
