-# Homepage Haml markup for Damien Dart's personal website.
-#
-# Copyright (C) 2013-2017 Damien Dart, <damiendart@pobox.com>.
-# This file is distributed under the MIT licence. For more information,
-# please refer to the accompanying "LICENCE" file.


- require "date"
- require "open-uri"
- require "json"
- instagram = JSON.load(open("https://www.instagram.com/damiendart/?__a=1"))


!!! 5
%html{:lang => "en", :prefix => "og: http://ogp.me/ns#"}
  %head
    %meta{:charset => "utf-8"}
    %link{:href => "https://use.typekit.net/rvl0fuw.css", :rel => "stylesheet"}
    %meta{:content => "View Damien Dart’s artwork and illustrations.", "name" => "description"}
    %meta{:content => "initial-scale=1.0, maximum-scale=1.0, width=device-width", "name" => "viewport"}
    %meta{:content => "View Damien Dart’s artwork and illustrations.", "property" => "og:description"}
    %meta{:content => "https://www.robotinaponcho.net/assets/og.png", :property => "og:image"}
    %meta{:content => "Damien Dart's Art", :property => "og:title"}
    %meta{:content => "website", :property => "og:type"}
    %meta{:content => "https://www.robotinaponcho.net/art/", :property => "og:url"}
    :autoprefixscss
      #{File.read("art.scss")}
    %title Damien Dart's Art (www.robotinaponcho.net)
  %body
    %h1.title Damien's Art
    .gallery
      - instagram["user"]["media"]["nodes"].each do |item|
        %article.gallery__item
          %a.gallery__item__link{:href => "https://www.instagram.com/p/#{item['code']}"}
            %img.gallery__item__link__image{:alt => item["caption"], :src => item["display_src"]}
            %p.gallery__item__link__description <b>#{DateTime.strptime(item["date"].to_s, "%s").year}</b>&mdash;#{item["caption"]}<br><span class="gallery__item__link__description__link">View on Instagram</a>
    %p.other-links Copyright (c) #{`date +%Y`} Damien Dart.<span> All rights reserved.</span>
    %footer.footer
      %hr.footer__rule
      %a.footer__link{:href => "https://www.robotinaponcho.net/"} www.robotinaponcho.net
