// Base page Haml source for Damien Dart's personal website.
//
// Copyright (C) 2013-2018 Damien Dart, <damiendart@pobox.com>.
// This file is distributed under the MIT licence. For more information,
// please refer to the accompanying "LICENCE" file.

!!! 5
%html{:lang => "en", :prefix => no_social ? nil : "og: http://ogp.me/ns#"}
  %head
    %meta{:charset => "utf-8"}
    - if not no_social
      %meta{:content => "Damien Dart", :name => "author"}
      %meta{:content => description, "name" => "description"}
      %meta{:content => "Damien Dart", :name => "og:author"}
      %meta{:content => description, "property" => "og:description"}
      %meta{:content => "https://www.robotinaponcho.net/assets/og.png", :property => "og:image"}
      %meta{:content => "#{title} (www.robotinaponcho.net)", :property => "og:title"}
      %meta{:content => "website", :property => "og:type"}
      %meta{:content => "https://www.robotinaponcho.net/#{slug}", :property => "og:url"}
    %meta{:content => "initial-scale=1.0, maximum-scale=1.0, width=device-width", "name" => "viewport"}
    - if (javascript.any? or javascript_external.any?)
      %script document.documentElement.className += "javascript";
    - scss.each do |i|
      :autoprefixscss
        #{File.read(i)}
    %title #{title} (www.robotinaponcho.net)
  %body
    :haml
      #{content}
    - javascript_external.each do |i|
      %script{:src => i}
    - javascript.each do |i|
      %script= File.read(i)
