-#
  ---
  file_comment: |
    Base page Haml source for Damien Dart's personal website.

    Copyright (C) 2013-2018 Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more information,
    please refer to the accompanying "LICENCE" file.
  add_to_sitemap: true
  css_external:
    - https://use.typekit.net/rvl0fuw.css
    - /assets/style.css
  footer_show: true
  page_bem_modifiers: []
  javascript:
    - _base.js
  javascript_external: []
  no_social: false
  scss: []
  social_image: assets/og.png
  url_base: https://www.robotinaponcho.net/
  ---


!!! 5
%html{:lang => "en", :prefix => no_social ? nil : "og: http://ogp.me/ns#"}
  %head
    %meta{:charset => "utf-8"}
    - css_external.each do |i|
      %link{:href => i, :rel => "stylesheet"}
    - if not no_social
      %meta{:content => "Damien Dart", :name => "author"}
      %meta{:content => description, "name" => "description"}
      %meta{:content => "Damien Dart", :name => "og:author"}
      %meta{:content => description, "property" => "og:description"}
      %meta{:content => "#{url_base}#{social_image}", :property => "og:image"}
      %meta{:content => "#{title}", :property => "og:title"}
      %meta{:content => "website", :property => "og:type"}
      %meta{:content => "#{url_base}#{slug}", :property => "og:url"}
      %meta{:content => "@damiendart", :name => "twitter:creator"}
    %meta{:content => "initial-scale=1.0, width=device-width, user-scalable=1", "name" => "viewport"}
    - if (javascript.any? or javascript_external.any?)
      %script document.documentElement.className += "javascript";
    - scss.each do |i|
      %style= convert_scss(read_source_file(i))
    %title #{title} (www.robotinaponcho.net)
  %body{:class => page_bem_modifiers.map{ |m| "page--#{m}" }}
    %header.header
      %h1.header__title
        %a{:href => "/"} Damien Dart
      %nav.header__navigation.dropdown-menu
        %h2.dropdown-menu__title
          %span.hamburger
            %span.hamburger__filling
          %span.dropdown-menu__title__text Menu
        %ul.dropdown-menu__list
          %li.dropdown-menu__list__item
            %a{:href => "/"} Home
          %li.dropdown-menu__list__item
            %a{:href => "#"} About
          %li.dropdown-menu__list__item
            %a{:href => "/flippywindow/"} FlippyWindow
          %li.dropdown-menu__list__item
            %a{:href => "/git/"} Open-source stuff
          %li.dropdown-menu__list__item
            %a{:href => "/notes/"} Notes about stuff
          %li.dropdown-menu__list__item
            %a{:href => "/art/"} Artwork and drawings
          %li.dropdown-menu__list__item
            %a{:href => "#"} Privacy policy
      %hr.header__rule
    = content
    - if footer_show
      %footer.footer
        %hr.footer__rule
        %p.footer__copyright Copyright &copy; 2019 <a href="#{url_base}">Damien Dart</a>.
    - javascript_external.each do |i|
      %script{:async => true, :src => i}
    - javascript.each do |i|
      %script= read_source_file(i)
