-# Homepage Haml markup for Damien Dart's personal website.
-#
-# Copyright (C) 2013, 2014 Damien Dart, <damiendart@pobox.com>.
-# This file is distributed under the MIT licence. For more information,
-# please refer to the accompanying "LICENCE" file.

!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "Damien Dart", :name => "author"}
    %meta{:content => "initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width", "name" => "viewport"}
    :scss
      #{File.read(File.join(File.dirname(__FILE__), "site", "_index.scss"))}
    %script{:src => "/assets/jquery-1.10.1.min.js", :type => "text/javascript"}
    %script{:src => "//use.typekit.net/mnw2jkv.js"}
    %script try{Typekit.load();}catch(e){}
    %title Damien Dart&rsquo;s Personal Website (www.robotinaponcho.net)
  %body
    .page-content
      .page-content__text
        :markdown
          **Hello! I'm Damien Dart.** I code and draw things:
      %ul.page-content__project-list
        - projects.each do |project|
          %li.page-content__project-list__item>
            %a.panel{:href => project[:url]}
              %div.panel__text
                %b.panel__text__title= project[:name]
                %br/
                = project[:description]
      .page-content__text
        :markdown
          #{File.read(File.join(File.dirname(__FILE__), "site", "_index.markdown"))}
    :javascript
      var projects = new Array();
      #{
        # HORRIBLE HACKY CODE AHOY!
        require "cgi"
        require "open-uri"
        projects = projects.reject { |project| project.key?("code_example") }
        projects.map { |project| "projects[\"#{project[:url]}\"] = " +
            "\"#{preserve(CGI.escapeHTML(open(project[:code_example]).readlines()[project[:code_example_start]...(project[:code_example_start] + 25)].join("")))}\";" if
            project[:code_example] }.join("\n")
      }
      $(".panel").each(function(i) {
        if (projects[this.href] != null) {
          $(this).prepend("<blockquote class=\"panel__code-background\">" +
              "<pre><code>" + projects[this.href] + "</code></pre></blockquote>")
      } } )
