{#---
    # Copyright (C) Damien Dart, <damiendart@pobox.com>.
    # This file is distributed under the MIT licence. For more
    # information, please refer to the accompanying "LICENCE" file.

    title: 'Notes'
---#}

{% extends '.templates/base.html.twig' %}

{%
    set categoryNames = {
        'adobe-creative-cloud': 'Adobe Creative Cloud',
        'command-line': 'Command-line',
        'docker': 'Docker',
        'food-and-drink': 'Food and drink',
        'jetbrains-ides': 'JetBrains IDEs',
        'obsidian': 'Obsidian',
        'procreate': 'Procreate',
        'reading': 'Reading',
        'synology-diskstation': 'Synology DiskStation',
        'ubuntu': 'Ubuntu',
    }
%}
{% set description = "View Damien Dart's notes on stuff and things." %}
{% set section = 'notes' %}

{% block content %}
    <p>My notes, wiki, digital garden, whatever one of these things are
        called nowadays. An <a href="{{ urlBase }}notes/index.atom">Atom
        feed</a> is also available.</p>

    <h2>Topics</h2>
    <ul class="tag-list" role="list">
        {% for category, notes in collections | filter((v, k) => k != 'notes') %}
            <li><a href="#{{ category }}">{{ categoryNames[category] ?? category | smartypants }}</a></li>
        {% endfor %}
    </ul>


    {% for category, notes in collections | filter((v, k) => k != 'notes') %}
        <h2 id="{{ category }}">{{ categoryNames[category] ?? category | smartypants }}</h2>

        <ul class="notes-list stack" role="list">
            {% for note in notes | sort((a, b) => a.metadata.title <=> b.metadata.title) %}
                {% set verb = note.metadata.git.created.timestamp == note.metadata.git.updated.timestamp ? 'Created' : 'Updated' %}

                <li class="notes-list__item">
                    <a href="/{{ note.metadata.slug }}">{{ note.metadata.title | smartypants }}</a>
                    <span class="notes-list__item__meta"><span class="visually-hidden">(</span><span>{{ verb }} </span>{{ note.metadata.git.updated.timestamp | date('d M, Y') }}<span class="visually-hidden">)</span></span>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}

{% block headCustom %}
    {{ parent() }}
    <link href="{{ urlBase }}notes/index.atom" rel="alternate" title="Damien Dart’s Notes (www.robotinaponcho.net)" type="application/atom+xml">
{% endblock %}
