{% apply spaceless %}
{#
    Copyright (C) 2022 Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
#}
    <?xml version="1.0" encoding="utf-8"?>
    <feed xmlns="http://www.w3.org/2005/Atom">
        <title>Damien Dart’s Notes (www.robotinaponcho.net)</title>
        <link href="{{ urlBase }}notes/"/>
        <link href="{{ urlBase }}notes/index.atom" rel="self"/>
        <updated>{{ 'now' | date('c') }}</updated>
        <author>
            <email>{{ authorEmail }}</email>
            <uri>{{ urlBase }}</uri>
            <name>{{ author }}</name>
        </author>
        <id>{{ urlBase }}notes/index.atom</id>
        {% for note in collections.notes | sort((a, b) => b.metadata.git.created.timestamp <=> a.metadata.git.created.timestamp) %}
            <entry>
                <id>{{ urlBase }}{{ note.metadata.slug }}</id>
                <link href="{{ urlBase }}{{ note.metadata.slug }}"/>
                <published>{{ note.metadata.git.created.timestamp | date('c') }}</published>
                <summary type="html">
                    <![CDATA[ {{ note.getContent | markdown | raw }} <hr><p><em><b>Last updated</b>: {{ note.metadata.git.updated.timestamp | date('c') }}</em></p> ]]>
                </summary>
                <title>{{ note.metadata.title }}</title>
                <updated>{{ note.metadata.git.updated.timestamp | date('c') }}</updated>
            </entry>
        {% endfor %}
    </feed>
{% endapply %}
