{#---
    # Copyright (C) 2022 Damien Dart, <damiendart@pobox.com>.
    # This file is distributed under the MIT licence. For more
    # information, please refer to the accompanying "LICENCE" file.

    title: 'Notes'
---#}

{% extends '.templates/base.html.twig' %}

{% set description = "View Damien Dart's notes on stuff and things." | smartypants %}
{% set section = 'notes' %}

{% block content %}
    <h1>Notes</h1>
    <p>These notes are also available as an
        <a href="{{ urlBase }}notes/index.atom">Atom feed</a>.</p>
    <ul class="notes-list">
        {% for note in collections.notes | sort((a, b) => a.metadata.title <=> b.metadata.title) | sort((a, b) => b.metadata.git.updated.timestamp <=> a.metadata.git.updated.timestamp) %}
            <li class="notes-list__item">
                <a href="/{{ note.metadata.slug }}">{{ note.metadata.title }}</a>
                <span class="notes-list__item__meta"><span class="screen-reader-only">(</span><span>Updated </span>{{ note.metadata.git.updated.timestamp | date('d M, Y') }}<span class="screen-reader-only">)</span></span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block headCustom %}
    {{ parent() }}
    <link href="{{ urlBase }}notes/index.atom" rel="alternate" title="Damien Dart’s Notes (www.robotinaponcho.net)" type="application/atom+xml">
{% endblock %}
