{#---
    # Copyright (C) 2022 Damien Dart, <damiendart@pobox.com>.
    # This file is distributed under the MIT licence. For more
    # information, please refer to the accompanying "LICENCE" file.

    title: 'Notes'
---#}

{% extends '.templates/base.html.twig' %}

{%
    set categoryNames = {
        'adobe-creative-cloud': 'Adobe Creative Cloud',
        'food-and-drink': 'Food and drink',
        'phpstorm': 'PhpStorm',
        'procreate': 'Procreate',
        'reading': 'Reading',
        'synology-diskstation': 'Synology DiskStation',
        'ubuntu': 'Ubuntu',
    }
%}
{% set description = "View Damien Dart's notes on stuff and things." | smartypants %}
{% set section = 'notes' %}

{% block content %}
    <p>These notes are also available as an
        <a href="{{ urlBase }}notes/index.atom">Atom feed</a>.</p>
        {% for category, notes in collections | filter((v, k) => k != 'notes') %}
            <h2 id="{{ category }}">{{ categoryNames[category] ?? category | smartypants }}</h2>

            <ul class="notes-list">
                {% for note in notes | sort((a, b) => a.metadata.title <=> b.metadata.title) %}
                    <li class="notes-list__item">
                        <a href="/{{ note.metadata.slug }}">{{ note.metadata.title | smartypants }}</a>
                        <span class="notes-list__item__meta"><span class="screen-reader-only">(</span><span>Updated </span>{{ note.metadata.git.updated.timestamp | date('d M, Y') }}<span class="screen-reader-only">)</span></span>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
{% endblock %}

{% block headCustom %}
    {{ parent() }}
    <link href="{{ urlBase }}notes/index.atom" rel="alternate" title="Damien Dart’s Notes (www.robotinaponcho.net)" type="application/atom+xml">
{% endblock %}
