{#
    Copyright (C) 2021 Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
#}

{% extends '.templates/base.html.twig' %}

{% set description = "View Damien Dart's notes on stuff and things." | smartypants %}
{% set title = 'Notes' %}

{% block content %}
    <h1>Notes</h1>
    <p>Notes on stuff and things. Also available as an
        <a href="{{ urlBase }}notes/index.atom">Atom feed</a>.</p>
    <ul class="notes-list">
        {% for note in collections.notes %}
            <li class="notes-list__item">
                <a href="/{{ note.slug }}">{{ note.title }}</a>
                <span class="notes-list__item__meta"><span class="screen-reader-only">(</span><span>Updated: </span>{{ note.git.updated.timestamp.getTime | date('d/m/Y') }}<span class="screen-reader-only">)</span></span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block headCustom %}
    {{ parent() }}
    <link href="{{ urlBase }}notes/index.atom" rel="alternate" title="Damien Dart’s Notes (www.robotinaponcho.net)" type="application/atom+xml">
{% endblock %}
