{#
    Copyright (C) Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
#}

{% extends '_templates/base.html.twig' %}

{% block heading %}
    <h1 class="u-stack__cozy u-visually-hidden">{{ title | smartypants | widont }}</h1>

    <div class="u-stack u-text-size-md">
        {{ content | raw }}

        <picture class="robot-in-a-poncho u-margin-bottom-mxxl u-stack__xl">
            <source srcset="/assets/robot-in-a-poncho.{{ site.releaseTimestamp }}.avif, /assets/robot-in-a-poncho@2x.{{ site.releaseTimestamp }}.avif 2x" type="image/avif">
            <source srcset="/assets/robot-in-a-poncho.{{ site.releaseTimestamp }}.webp, /assets/robot-in-a-poncho@2x.{{ site.releaseTimestamp }}.webp 2x" type="image/webp">
            <img alt="A pencil drawing of a smiling robot in a poncho doing a thumbs up." fetchpriority="high" height="296" src="/assets/robot-in-a-poncho.{{ site.releaseTimestamp }}.png" title="Hello!" width="250">
        </picture>
    </div>

{% endblock %}

{% block content %}{% endblock %}
