{#
    Copyright (C) 2021 Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
#}

{% extends '@toolbox-sass/html-document.twig' %}

{% set metaAuthor = author %}
{% set metaCanonical = urlBase ~ slug %}
{% set metaDescription = description | default(false) %}
{% set metaOpengraphTitle = title | smartypants | trim ~ ' (www.robotinaponcho.net)' %}
{% set metaOpengraphUrl = metaCanonical %}
{% set metaTitle = title | smartypants | trim ~ ' (www.robotinaponcho.net)' %}

{% block body %}
    <div class="skip-links">
        <ul class="sub-navigation-list sub-navigation-list--dotty-always">
            <li class="sub-navigation-list__item"><a href="#content">Skip to content</a></li>
            <li class="sub-navigation-list__item"><a href="#footer">Skip to footer</a></li>
        </ul>
        <hr class="skip-links__rule">
    </div>
    <header class="site-header">
        <h1 class="site-header__title">
            <a href="/">{{ author }}</a>
        </h1>
        <nav class="dropdown-menu site-header__navigation">
            <h2 class="dropdown-menu__title">Menu</h2>
            <ul class="dropdown-menu__list" role="menu">
                <li class="dropdown-menu__list__item"><a href="/">About</a></li>
                <li class="dropdown-menu__list__item"><a href="/flippywindow/">FlippyWindow</a></li>
                <li class="dropdown-menu__list__item"><a href="/git/">Open-source Stuff</a></li>
                <li class="dropdown-menu__list__item"><a href="/notes/">Notes</a></li>
                <li class="dropdown-menu__list__item"><a href="/art/">Artwork and Drawings</a></li>
                <li class="dropdown-menu__list__item"><a href="/crap/">The Folder of Crap</a></li>
                <li class="dropdown-menu__list__item"><a href="/privacy-policy">Privacy Policy</a></li>
                <li class="dropdown-menu__list__item"><a href="mailto:damiendart@pobox.com">Contact</a></li>
            </ul>
        </nav>
        <hr class="site-header__rule">
    </header>
    <a class="anchor" id="content"></a>
    <main class="main-content">
        {{ block('content') }}
    </main>
    <a class="anchor" id="footer"></a>
    <footer class="site-footer">
        <hr class="site-footer__rule">
        <p class="site-footer__copyright">Copyright © {{ 'now' | date('Y') }} <a href="/">{{ author }}</a>.</p>
        <ul class="sub-navigation-list sub-navigation-list--dotty">
            <li class="sub-navigation-list__item"><a href="https://www.buymeacoffee.com/damiendart" rel="me">Buy Me A Coffee</a></li>
            <li class="sub-navigation-list__item"><a href="https://github.com/damiendart" rel="me">GitHub</a></li>
            <li class="sub-navigation-list__item"><a href="https://www.instagram.com/damiendart/" rel="me">Instagram</a></li>
            <li class="sub-navigation-list__item"><a href="https://twitter.com/damiendart" rel="me">Twitter</a></li>
        </ul>
    </footer>
    <script async src="/assets/app.{{ releaseTimestamp }}.js"></script>
{% endblock %}

{% block headCustom %}
    <link href="/assets/style.{{ releaseTimestamp }}.css" rel="stylesheet">
{% endblock %}
