{#
    Copyright (C) 2020 Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
#}

{% if block('phpPreamble') is defined %}
    {{ block('phpPreamble') }}
{% endif %}
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <link href="/assets/style.{{ deployment.releaseTimestamp }}.css" rel="stylesheet">
    <meta content="Damien Dart" name="author">
    <meta content="Damien Dart" property="og:author">
    <meta content="@damiendart" property="twitter:creator">
    {% if pageDescription is defined %}
        <meta content="{{ pageDescription | smartypants | trim }}" name="description">
        <meta content="{{ pageDescription | smartypants | trim }}" property="og:description">
    {% endif %}
    <meta content="https://www.robotinaponcho.net/{{ pageOpenGraphImage | default('assets/og.png') }}" property="og:image">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="website" property="og:type">
    <meta content="https://www.robotinaponcho.net/{{ pageSlug }}" property="og:url">
    <meta content="initial-scale=1, maximum-scale=1, width=device-width" name="viewport">
    <script>
        {% block headJavaScript "document.documentElement.className+='javascript'" %}
    </script>
    <title>{{ pageTitle | smartypants | trim }} (www.robotinaponcho.net)</title>
    <meta content="{{ pageTitle | smartypants | trim }}" property="og:title">
</head>
<body{% if pageBodyClass is defined %} class="{{ pageBodyClass }}"{% endif %}>
    <header class="header">
        <h1 class="header__title">
            <a href="/">Damien Dart</a>
        </h1>
        <nav class="dropdown-menu header__navigation">
            <h2 class="dropdown-menu__title">
                <span class="hamburger">
                  <span class="hamburger__filling"></span>
                </span>
                <span class="dropdown-menu__title__text">Menu</span>
            </h2>
            <div class="dropdown-menu__lists">
                <ul class="dropdown-menu__lists__list">
                    <li class="dropdown-menu__lists__list__item"><a href="/">About</a></li>
                    <li class="dropdown-menu__lists__list__item"><a href="/flippywindow/">FlippyWindow</a></li>
                    <li class="dropdown-menu__lists__list__item"><a href="/git/">Open-source Stuff</a></li>
                    <li class="dropdown-menu__lists__list__item"><a href="/notes/">Notes</a></li>
                    <li class="dropdown-menu__lists__list__item"><a href="/art/">Artwork and Drawings</a></li>
                    <li class="dropdown-menu__lists__list__item"><a href="/privacy-policy">Privacy Policy</a></li>
                </ul>
                <ul class="dropdown-menu__lists__list">
                    <li class="dropdown-menu__lists__list__item"><a href="mailto:damiendart@pobox.com" rel="me">Email</a></li>
                    <li class="dropdown-menu__lists__list__item"><a href="https://github.com/damiendart" rel="me">GitHub</a></li>
                    <li class="dropdown-menu__lists__list__item"><a href="https://www.instagram.com/damiendart/" rel="me">Instagram</a></li>
                    <li class="dropdown-menu__lists__list__item"><a href="https://twitter.com/damiendart" rel="me">Twitter</a></li>
                </ul>
            </div>
        </nav>
        <hr class="header__rule">
    </header>
    <main class="main-content">
        {{ block('pageContent') }}
    </main>
    <footer class="footer">
        <hr class="footer__rule">
        <p class="footer__copyright">Copyright © 2020 <a href="/">Damien Dart</a>.</p>
    </footer>
    <script async src="/assets/app.{{ deployment.releaseTimestamp }}.js"></script>
</body>
</html>
