{#
    Copyright (C) 2021 Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
#}

{% extends '@toolbox-sass/html-document.twig' %}

{% set metaAuthor = author %}
{% set metaCanonical = urlBase ~ slug %}
{% set metaDescription = description | default(false) %}
{% set metaOpengraphTitle = title | smartypants | trim ~ ' (www.robotinaponcho.net)' %}
{% set metaOpengraphUrl = metaCanonical %}
{% set metaTitle = title | smartypants | trim ~ ' (www.robotinaponcho.net)' %}

{% block body %}
    <header class="header">
        <h1 class="header__title">
            <a href="/">{{ author }}</a>
        </h1>
        <nav class="dropdown-menu header__navigation">
            <h2 class="dropdown-menu__title">Menu</h2>
            <div class="dropdown-menu__lists">
                <ul class="dropdown-menu__lists__list">
                    <li class="dropdown-menu__lists__list__item"><a href="/">About</a></li>
                    <li class="dropdown-menu__lists__list__item"><a href="/flippywindow/">FlippyWindow</a></li>
                    <li class="dropdown-menu__lists__list__item"><a href="/git/">Open-source Stuff</a></li>
                    <li class="dropdown-menu__lists__list__item"><a href="/notes/">Notes</a></li>
                    <li class="dropdown-menu__lists__list__item"><a href="/art/">Artwork and Drawings</a></li>
                    <li class="dropdown-menu__lists__list__item"><a href="/crap/">The Folder of Crap</a></li>
                    <li class="dropdown-menu__lists__list__item"><a href="/privacy-policy">Privacy Policy</a></li>
                </ul>
                <ul class="dropdown-menu__lists__list">
                    <li class="dropdown-menu__lists__list__item"><a href="mailto:damiendart@pobox.com" rel="me">Email</a></li>
                    <li class="dropdown-menu__lists__list__item"><a href="https://github.com/damiendart" rel="me">GitHub</a></li>
                    <li class="dropdown-menu__lists__list__item"><a href="https://www.instagram.com/damiendart/" rel="me">Instagram</a></li>
                    <li class="dropdown-menu__lists__list__item"><a href="https://twitter.com/damiendart" rel="me">Twitter</a></li>
                    <li class="dropdown-menu__lists__list__item"><a href="https://www.buymeacoffee.com/damiendart" rel="me">Buy Me A Coffee</a></li>
                </ul>
            </div>
        </nav>
        <hr class="header__rule">
    </header>
    <main class="main-content">
        {{ block('content') }}
    </main>
    <footer class="footer">
        <hr class="footer__rule">
        <p class="footer__copyright">Copyright © {{ 'now' | date('Y') }} <a href="/">{{ author }}</a>.</p>
    </footer>
    <script async src="/assets/app.{{ releaseTimestamp }}.js"></script>
{% endblock %}

{% block headCustom %}
    <link href="/assets/style.{{ releaseTimestamp }}.css" rel="stylesheet">
{% endblock %}
