{#
    Copyright (C) 2020 Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
#}

{% extends '.templates/base-markdown.html.twig' %}

{% block content %}
    <h1>{{ title | smartypants | widont }}</h1>
    <ul class="sub-navigation-list">
        <li class="sub-navigation-list__item sub-navigation-list__item--back">
            <a class="button button--back" href="/notes/">View all notes</a>
        </li>
    </ul>
    <div class="admonition admonition--metadata">
        <ul class="metadata-list">
            <li class="metadata-list__item"><b>Created</b>:
                <a data-timestamp="{{ git.created.timestamp.getTime }}"
                   href="https://github.com/damiendart/robotinaponcho/commit/{{ git.created.hash }}">
                    {{ git.created.timestamp.getTime | date('d/m/Y') }}</a></li>
            <li class="metadata-list__item"><b>Last Updated</b>:
                <a data-timestamp="{{ git.updated.timestamp.getTime }}"
                   href="https://github.com/damiendart/robotinaponcho/commit/{{ git.updated.hash }}">
                   {{ git.updated.timestamp.getTime | date('d/m/Y') }}</a></li>
            <li class="metadata-list__item"><b>Licence</b>:
                <a href="http://creativecommons.org/licenses/by/4.0/">Creative
                    Commons Attribution 4.0 International</a></li>
        </ul>
    </div>

    {{ renderedMarkdown | raw }}
{% endblock %}

{% block headCustom %}
    {{ parent() }}
    <link href="{{ urlBase }}notes/index.atom" rel="alternate" title="Damien Dart’s Notes (www.robotinaponcho.net)" type="application/atom+xml">
{% endblock %}

