{#
    Copyright (C) 2021 Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
#}

{% extends '@toolbox-sass/html-document.twig' %}

{% set metaAuthor = author %}
{% set metaCanonical = urlBase ~ slug %}
{% set metaDescription = description | default(false) %}
{% set metaOpengraphTitle = metaTitle | default(title) | smartypants | trim ~ ' (www.robotinaponcho.net)' %}
{% set metaOpengraphUrl = metaCanonical %}
{% set metaTitle = metaTitle | default(title) | smartypants | trim ~ ' (www.robotinaponcho.net)' %}

{% block body %}
    <div class="content">
        <div class="content__container">
            <header class="site-header">
                <div class="site-header__navigation site-header__navigation--skip-links">
                    <ul class="site-header__navigation__list">
                        <li class="site-header__navigation__list__item"><a href="#content">Skip to content</a></li>
                        <li class="site-header__navigation__list__item"><a href="#footer">Skip to footer</a></li>
                    </ul>
                </div>
                <hr class="site-header__rule">
                <p class="site-header__title"><a href="/">{{ author }}</a></p>
                <nav class="site-header__navigation">
                    <ul class="site-header__navigation__list">
                        <li class="site-header__navigation__list__item{% if section is defined and section is same as('projects') %} site-header__navigation__list__item--active{% endif %}"><a href="/projects/">Projects</a></li>
                        <li class="site-header__navigation__list__item{% if section is defined and section is same as('notes') %} site-header__navigation__list__item--active{% endif %}"><a href="/notes/">Notes</a></li>
                        <li class="site-header__navigation__list__item"><a href="mailto:damiendart@pobox.com">Contact</a></li>
                    </ul>
                </nav>
                <hr class="site-header__rule">
            </header>

            <a class="anchor" id="content"></a>
            {{ block('content') }}

            <a class="anchor" id="footer"></a>
            <footer class="site-footer">
                <hr class="site-footer__rule">
                <p class="site-footer__copyright">Copyright © {{ 'now' | date('Y') }}
                    <a href="/">{{ author }}</a>.<br>
                    <a href="/privacy-policy">View&nbsp;privacy&nbsp;policy</a>.</p>
            </footer>
        </div>
    </div>
    <script async src="/assets/app.{{ releaseTimestamp }}.js"></script>
{% endblock %}

{% block headCustom %}
    <link href="/assets/style.{{ releaseTimestamp }}.css" rel="stylesheet">
{% endblock %}
