{#
    Copyright (C) 2020 Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
#}

{% extends '.templates/base.html.twig' %}

{% set description = frontmatter.description | smartypants | trim %}
{% set title = frontmatter.title  %}

{% block content %}
    <h1>{{ frontmatter.title | smartypants | widont }}</h1>
    <div class="admonition admonition--metadata">
        <ul class="metadata-list">
            <li class="metadata-list__item"><b>Last Updated</b>:
                <a data-timestamp="{{ git.timestamp.getTime }}"
                   href="https://github.com/damiendart/robotinaponcho/commit/{{ git.hash }}">
                   {{ git.timestamp.getTime | date('d/m/Y') }}</a></li>
            <li class="metadata-list__item"><b>Licence</b>:
                <a href="http://creativecommons.org/licenses/by/4.0/">Creative
                    Commons Attribution 4.0 International License</a></li>
        </ul>
    </div>

    {{ renderedMarkdown | raw }}
{% endblock %}

