// Base page Haml source for Damien Dart's personal website.
//
// Copyright (C) 2013-2018 Damien Dart, <damiendart@pobox.com>.
// This file is distributed under the MIT licence. For more information,
// please refer to the accompanying "LICENCE" file.

!!! 5
%html{:lang => "en", :prefix => "og: http://ogp.me/ns#"}
  %head
    %meta{:charset => "utf-8"}
    %link{:href => "#{site_url}assets/style.css", :rel => "stylesheet"}
    - if(!defined?(no_social))
      %meta{:content => page_description, "name" => "description"}
      %meta{:content => page_description, "property" => "og:description"}
      %meta{:content => "#{site_url}assets/og.png", :property => "og:image"}
      %meta{:content => page_title, :property => "og:title"}
      %meta{:content => "website", :property => "og:type"}
      %meta{:content => "#{site_url}#{page_slug}", :property => "og:url"}
      %meta{:content => "initial-scale=1.0, maximum-scale=1.0, width=device-width", "name" => "viewport"}
    %script document.documentElement.className += "javascript";
    - if(defined?(page_scss))
      :autoprefixscss
        #{File.read("pages/#{page_scss}")}
    %title #{page_title} (www.robotinaponcho.net)
  %body
    %header.site-header
      %img.site-header__image{:alt => "#{site_author_name}'s Gravatar", :src => "#{site_url}assets/avatar.jpg", :title => "#{site_author_name}'s Gravatar"}
      %h1.site-header__title
        %a{:href => "#{site_url}"} #{site_author_name}
      %ul.site-header__navigation-list
        %li.site-header__navigation-list__item.site-header__navigation-list__item--has-sub-menu
          %a{:href => "javascript:void(0);"} Projects
          %ul.site-header__navigation-list__item__sub-menu>
            %li.site-header__navigation-list__item__sub-menu__item
              %a{:href => "#"}> FlippyWindow (soon)
            %li.site-header__navigation-list__item__sub-menu__item
              %a{:href => "#{site_url}art/"}> My Artwork and Drawings
            %li.site-header__navigation-list__item__sub-menu__item
              %a{:href => "#{site_url}git/"}> Open Source Bits and Pieces
        %li.site-header__navigation-list__item
          %a{:href => "#{site_url}notes/"} Notes
        %li.site-header__navigation-list__item.site-header__navigation-list__item--social
          %a{:href => "mailto:#{site_author_email}"}
            = File.read("layouts/base-envelope.svg")
        %li.site-header__navigation-list__item.site-header__navigation-list__item--social
          %a{:href => "https://github.com/#{site_author_github}"}
            = File.read("layouts/base-github.svg")
        %li.site-header__navigation-list__item.site-header__navigation-list__item--social
          %a{:href => "https://instagram.com/#{site_author_instagram}"}
            = File.read("layouts/base-instagram.svg")
        %li.site-header__navigation-list__item.site-header__navigation-list__item--social
          %a{:href => "https://twitter.com/#{site_author_twitter}"}
            = File.read("layouts/base-twitter.svg")
    = page_content
    - if(defined?(page_javascript))
      %script= File.read("pages/#{page_javascript}")
    - if(defined?(layout_javascript))
      %script= File.read("layouts/#{layout_javascript}")
