-#
  ---
  file_comment: |
    "layouts/note.haml" for Damien Dart's personal website.

    Copyright (C) 2013-2018 Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
  layout: base
  javascript: layouts/note.js
  ---

.markdown
  %h1= page_title
  %ul.metadata
    %li <strong>Last updated</strong>: <a data-timestamp="#{page_git_last_commit_timestamp}" href="https://www.robotinaponcho.net/git/?p=notes.git;h=#{page_git_last_commit_hash}">#{page_git_last_commit_datetime}</a>
    %li <strong>Licence</strong>: <a href="#{page_licence_website}">#{page_licence}</a>
  = page_content
