-#
  ---
  file_comment: |
    "layouts/note.haml" for Damien Dart's personal website.

    Copyright (C) 2013-2018 Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
  layout: base
  ---

.markdown
  %h1= page_title
  %ul.metadata
    %li <strong>Author</strong>: <a href="#{author_website}">#{author_name}</a>, <a href="mailto:#{author_email}">#{author_email}</a>
    %li <strong>Licence</strong>: <a href="#{licence_website}">#{licence_name}</a>
  = page_content
