<hr aria-hidden="true">
<div class="cta-sharing u-stack__xl">
    <p class="cta-sharing__heading">Share this page:</p>
    <ul class="social-share-list">
        <li class="social-share-list__item social-share-list__item--twitter">
            <a
                href="https://twitter.com/intent/tweet?source=webclient{% if twitterText %}&text={{ twitterText | smartypants | escape('url') }}{% endif %}{% if twitterAuthor %}&via={{ twitterAuthor | replace({ '@': '' }) | escape('url') }}{% endif %}&url={{ link | escape('url') }}"
                target="_blank"
                rel="noopener noreferrer"
                title="Share on Twitter"
            ><span class="u-visually-hidden">Share on Twitter</span></a>
        </li>
        <li class="social-share-list__item social-share-list__item--facebook">
            <a
                href="https://www.facebook.com/sharer.php?u={{ link | escape('url') }}"
                target="_blank"
                rel="noopener noreferrer"
                title="Share on Facebook"
            ><span class="u-visually-hidden">Share on Facebook</span></a>
        </li>
        <li class="social-share-list__item social-share-list__item--permalink">
            <a data-clipboard="{{ link }}" href="{{ link }}" title="Permalink"><span class="u-visually-hidden">Permalink</span></a>
        </li>
    </ul>
</div>
