{#
    Copyright (C) Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
#}

{% set metaTitle = metaTitle | default(title) | trim ~ ' (www.robotinaponcho.net)' %}

<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta content="initial-scale=1, width=device-width" name="viewport">
    <title>{{ metaTitle | smartypants }}</title>

    {#
        If this script block is modified, the CSP hash in
        "virtualhost.conf" must be updated accordingly.
    #}
    <script>document.documentElement.className+='javascript';localStorage.getItem('theme')&&document.documentElement.setAttribute('data-theme',localStorage.getItem('theme'))</script>

    {% block head %}
        <link href="/assets/style.{{ site.releaseTimestamp }}.css" rel="stylesheet">
    {% endblock %}

    <link href="{{ site.urlOrigin }}/{{ urlPath }}" rel="canonical">
    <meta content="{{ site.author | smartypants }}" name="author">
    <meta content="light dark" name="color-scheme">

    {% if description is defined %}
        <meta content="{{ description | smartypants }}" name="description">
        <meta content="{{ description | smartypants }}" property="og:description">
    {% endif %}

    <meta content="{{ metaOpengraphImage | default(site.metaOpengraphImage) }}" property="og:image">
    <meta content="{{ metaTitle | smartypants }}" property="og:title">
    <meta content="website" property="og:type">
    <meta content="{{ site.urlOrigin }}/{{ urlPath }}" property="og:url">
    <meta content="{{ site.metaTwitterAuthor | smartypants }}" name="twitter:creator">
    <meta content="{{ site.metaTwitterSite | smartypants }}" name="twitter:site">
    <meta content="summary_large_image" name="twitter:card">

    {% if metaNoCrawl | default(false) %}
        <meta content="noindex, nofollow" name="robots">
    {% endif %}
</head>
<body class="u-stack {% if bodyClasses | default(false) %} {{ bodyClasses }}{% endif %}">
    <div class="skip-links u-stack__cozy">
        <ul class="skip-links__list" role="list">
            <li class="skip-links__list__item">
                <a href="#content">Skip to content</a>
            </li>
            <li class="skip-links__list__item">
                <a href="#footer">Skip to footer</a>
            </li>
        </ul>
        <hr aria-hidden="true">
    </div>
    <header class="page__header site-header u-stack__cozy">
        <div class="site-header__container">
            <p class="site-header__title">
                <a href="/">
                    <svg aria-labelledby="site-title" height="20" role="img" viewBox="0 0 53.65 6.13" width="175" xmlns="http://www.w3.org/2000/svg">
                        <title id="site-title">Damien Dart</title>
                        <path d="M15.67 2.14c-.17.02-.29.43-.33.57-.32 1.19-.02 2.5-1.76 1.33l-.72-1.66c-.71.5-.03 1.65-.24 2.25-.14.4-.99 1.2-1.39.64l-.21-2.99c.34-.2.53-.53.94-.68.25-.09 1.35-.21 1.61-.18s.44.36.49.36c.17 0 .37-.85 1.08-1 1.03-.22 1.88.17 2.2 1.2.23.74.03 2.31.11 3.24.05.58-1.1.62-1.35.25-.39-.58-.31-2.57-.43-3.32ZM27.77 1.01c0-.08-.19-.24-.12-.42.63.05 1.32-.24 1.65.44.15.31.25 3.39.16 3.54-.31.5-.61.39-1.08.23-.82-.28-1.54-.97-2.22-1.48-.11 1.16.23 1.78-1.26 1.61-.05-.04-.24-.66-.24-.72V1.67c.25.02.64.04.86.13.34.14 1.07.72 1.39.94.28.2.57.41.86.59-.06-.75.08-1.59 0-2.32ZM24.04 1.08c.59.86-2.19.6-1.66 1.65.44-.03.65-.26 1.13-.24.3.01.91.34.71.6-.39.49-1.21.49-1.73.78.24 1.25.53.5 1.3.72 1.28.37-.09 1.14-1.08.84-1.11-.33-1.56-1.16-1.86-2.2-.08-.29-.29-1.13-.25-1.36.01-.07.22-.75.24-.78.16-.23 3.07-.21 3.2-.01ZM53.63.25c.27 1.16-2.52.82-2.75 1.07.45.93.85 1.83.72 2.89-2.08 1.14-1.51-1.86-2.19-2.51-.17-.16-2-.36-.97-.96.36-.22 3.82-.74 4.3-.74.32 0 .59.19.89.25ZM19.98 5.47c-.61-.06-1.09.09-1.41-.56-.15-1.32-.13-2.69-.5-3.96.49-.06 1.29.23 1.53.68.21.39.48 2.77.48 3.31 0 .18-.1.35-.1.53ZM5.25 2.33C5.09 1.27 3.4.7 2.44.71 1.98.71.21.98 0 1.33l.24 4.73c.11.19 1.15 0 1.34-.1.08-.04.08-.24.15-.25.25-.01.56.24 1.01.19.64-.07 1.73-.53 2.11-1.06.16-.22.3-.58.34-.85.05-.28.09-1.42.05-1.66ZM1.9 4.64V1.67c.33-.05 1.32-.08 1.53.15.06.06.16 1.19.15 1.33-.04.85-.91 1.41-1.68 1.49ZM42.3 2.49c-.08-.3-.24-.94-.34-1.18-.05-.11-.53-1-.57-1.04-.19-.19-2.18-.25-2.51-.12-.58.23-.6.89-.87 1.16-.12.11-.53.19-.53.3 0 .02.19.16.23.36.13.62-.11 1.68.03 2.11.16.51 1.86 1.25 1.54.2.79.3.99-.32 1.68-.48l-.12 1.43c.38.05.77 0 1.08.24l.72-.47c.06-.85-.1-1.7-.31-2.51Zm-1.48.6h-1.44c0-.36-.03-.71.06-1.07.05-.19.67-1.36.9-1.19.13.09.29 1.44.6 1.61l-.24.06.12.6ZM9.74.96C9.66.78 8.85.15 8.66.12 8.43.09 7 .29 6.84.39c-.09.05-.42.81-.63.98-.21.17-.57.16-.59.18-.04.04.12.59.13.77.01.48-.19 1.87.02 2.18.05.07.29.07.39.15.23.19.08.35.48.36.48 0 .78-.09.67-.61.65.28 1.06.01 1.68-.12-.15.5-.04 1.04.06 1.55l.65-.19c.09-.06.11-.18.17-.24.45-.4.56-.93.52-1.53-.03-.57-.41-2.43-.64-2.92ZM7.29 3.57c-.18-.19.49-2.04.69-2.34.06-.09.08-.33.27-.15.08.08.36 1.88.48 2.14l-1.44.36ZM46.46 3.97c-.17-.52 2.05-2.86.47-3.55-.38-.17-1.96-.14-2.42-.03-.8.19-.77.5-1.3.85-.11.07-.33.05-.35.07-.04.04.2.83.22 1.02.04.33.14 2.09.2 2.19.25.4 1.37.55 1.46.04.04-.21-.2-.7-.09-1 .21 0 .13.29.27.44.46.48 1.99 1.25 2.64 1.19.12-.01.76-.28.79-.39.24-.8-1.77-.44-1.9-.84Zm-1.8-1c.13-.33-.24-1.2-.1-1.41.03-.05.91-.36 1.06-.49.16.2-.65 1.73-.96 1.9ZM36.71 1.11c-.63-.75-3.2-.93-4.1-.76-.3.06-.25.48-.65.36.1.22.3.26.36.54.23 1.1.22 2.39.36 3.51.7-.3.5.04.8.21 1.43.81 3.22-.57 3.48-1.97.11-.62.17-1.39-.25-1.89Zm-1.49 2.07c-.2.41-.77.8-1.22.87.08-.9-.07-1.84-.24-2.73.37.02 1.68-.14 1.78.31.03.14-.22 1.36-.31 1.56Z" />
                    </svg>
                </a>
            </p>
            <nav class="site-header__navigation">
                <ul class="site-header__navigation__list" role="list">
                    <li class="site-header__navigation__list__item{% if section is defined and section is same as('projects') %} site-header__navigation__list__item--active{% endif %}"><a href="/projects/">Projects</a></li>
                    <li class="site-header__navigation__list__item{% if section is defined and section is same as('notes') %} site-header__navigation__list__item--active{% endif %}"><a href="/notes/">Notes</a></li>
                    <li class="site-header__navigation__list__item"><a href="mailto:damiendart@pobox.com">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <hr aria-hidden="true" class="u-stack__cozy">

    <main class="u-content u-stack u-stack__cozy" id="content">
        <div class="page-header u-content u-stack__xl">
            {% block heading %}
                <h1>{{ title | smartypants | widont }}</h1>
            {% endblock %}
        </div>

        {% block content %}
            {{ content | raw }}
        {% endblock %}
    </main>

    <hr aria-hidden="true" class="u-stack__cozy">

    <footer id="footer" class="page__footer site-footer u-stack u-stack__xl">
        <div class="site-footer__navigation">
            <ul class="site-footer__navigation__list" role="list">
                <li><a href="/privacy-policy">Privacy Policy</a></li>
                <li><a href="/sitemap">Sitemap</a></li>
            </ul>
        </div>
        <p class="site-footer__copyright">© {{ 'now' | date('Y') }}
            <a href="/">{{ site.author | smartypants }}</a>.</p>
    </footer>

    <script src="/assets/app.{{ site.releaseTimestamp }}.js" type="module"></script>
</body>
</html>
