{#
    Copyright (C) Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
#}

{% set metaTitle = metaTitle | default(title) | trim ~ ' (www.robotinaponcho.net)' %}

<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta content="initial-scale=1, width=device-width" name="viewport">

    {% block head %}
        <link href="/assets/style.{{ site.releaseTimestamp }}.css" rel="stylesheet">
    {% endblock %}

    <link href="{{ site.urlBase ~ slug }}" rel="canonical">
    <meta content="{{ site.author | smartypants }}" name="author">

    {% if description is defined %}
        <meta content="{{ description | smartypants }}" name="description">
        <meta content="{{ description | smartypants }}" property="og:description">
    {% endif %}

    <meta content="{{ metaOpengraphImage | default(site.metaOpengraphImage) }}" property="og:image">
    <meta content="{{ metaTitle | smartypants }}" property="og:title">
    <meta content="website" property="og:type">
    <meta content="{{ site.urlBase ~ slug }}" property="og:url">
    <meta content="{{ site.metaTwitterAuthor | smartypants }}" property="twitter:creator">
    <meta content="{{ site.metaTwitterSite | smartypants }}" property="twitter:site">
    <meta content="summary_large_image" name="twitter:card">

    {% if metaNoCrawl | default(false) %}
        <meta content="noindex, nofollow" name="robots">
    {% endif %}

    <script>{% block headJavaScript "document.documentElement.className+='javascript',localStorage.getItem('theme')&&document.documentElement.setAttribute('data-theme',localStorage.getItem('theme'))" %}</script>
    <title>{{ metaTitle | smartypants }}</title>
</head>
<body class="u-stack">
    <header class="page__header">
        <div class="skip-links">
            <ul class="skip-links__list" role="list">
                <li class="skip-links__list__item">
                    <a href="#content">Skip to content</a>
                </li>
                <li class="skip-links__list__item">
                    <a href="#footer">Skip to footer</a>
                </li>
            </ul>
        </div>

        <hr aria-hidden="true">

        <div class="site-header">
            <div class="site-header__container">
                <p class="site-header__title"><a href="/">{{ site.author | smartypants }}</a></p>
                <nav class="site-header__navigation">
                    <ul class="site-header__navigation__list" role="list">
                        <li class="site-header__navigation__list__item{% if section is defined and section is same as('projects') %} site-header__navigation__list__item--active{% endif %}"><a href="/projects/">Projects</a></li>
                        <li class="site-header__navigation__list__item{% if section is defined and section is same as('notes') %} site-header__navigation__list__item--active{% endif %}"><a href="/notes/">Notes</a></li>
                        <li class="site-header__navigation__list__item"><a href="mailto:damiendart@pobox.com">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <hr aria-hidden="true">

    <main class="u-content u-stack u-stack__xl" id="content">
        {% block heading %}
            <h1>{{ title | smartypants | widont }}</h1>
        {% endblock %}

        {{ block('content') }}
    </main>

    <hr aria-hidden="true">

    <footer id="footer" class="page__footer site-footer u-stack u-stack__xl">
        <nav class="site-footer__navigation">
            <ul class="site-footer__navigation__list" role="list">
                <li><a href="/privacy-policy">Privacy Policy</a></li>
                <li><a href="/sitemap">Sitemap</a></li>
            </ul>
        </nav>
        <p class="site-footer__copyright">© {{ 'now' | date('Y') }}
            <a href="/">{{ site.author | smartypants }}</a>.</p>
    </footer>

    <script src="/assets/app.{{ site.releaseTimestamp }}.js" type="module"></script>
</body>
</html>
