{#
    Copyright (C) Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
#}

{% extends '.templates/base-markdown.html.twig' %}

{% set section = 'notes' %}

{% block content %}
    {% if git.createdAt == git.updatedAt %}
        <aside role="note">This note was created on <a href="https://github.com/damiendart/robotinaponcho/commit/{{ git.createdHash }}">{{ git.createdAt | date('F j, Y') }}</a>.</aside>
    {% else %}
        <aside role="note">
            This note was created on <a href="https://github.com/damiendart/robotinaponcho/commit/{{ git.createdHash }}">{{ git.createdAt | date('F j, Y') }}</a>
            and updated on <a href="https://github.com/damiendart/robotinaponcho/commits/master/{{ git.path }}">{{ git.updatedAt | date('F j, Y') }}</a>.
        </aside>
    {% endif %}

    {{ content | raw }}
{% endblock %}

{% block headCustom %}
    {{ parent() }}
    <link href="{{ site.urlBase }}notes/index.atom" rel="alternate" title="Damien Dart’s Notes (www.robotinaponcho.net)" type="application/atom+xml">
{% endblock %}

