{#
    Copyright (C) Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
#}

{% extends '.templates/base.html.twig' %}

{% block heading %}
    <div class="image-and-text u-content__wider">
        <h1 class="u-stack__cozy u-visually-hidden">{{ title | smartypants | widont }}</h1>

        <div class="image-and-text__image u-stack__cozy">
            <picture class="robot__robot">
                <source srcset="/assets/homepage-robot.{{ site.releaseTimestamp }}.avif, /assets/homepage-robot@2x.{{ site.releaseTimestamp }}.avif 2x" type="image/avif">
                <source srcset="/assets/homepage-robot.{{ site.releaseTimestamp }}.webp, /assets/homepage-robot@2x.{{ site.releaseTimestamp }}.webp 2x" type="image/webp">
                <img alt="A black-and-white drawing of a waving robot in a poncho." height="375" src="/assets/homepage-robot.{{ site.releaseTimestamp }}.png" srcset="/assets/homepage-robot@2x.{{ site.releaseTimestamp }}.png 2x" title="Hello!" width="350">
            </picture>
        </div>
        <div class="image-and-text__text u-stack">
            {{ content | raw }}
        </div>
    </div>
{% endblock %}

{% block content %}{% endblock %}
