-# Copyright (C) 2013-2016 Damien Dart, <damiendart@pobox.com>.
-# This file is distributed under the MIT licence. For more information,
-# please refer to the accompanying "LICENCE" file.

- images = YAML.load_file("public/art/_index.yaml")

!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width", "name" => "viewport"}
    :javascript
      #{`uglifyjs #{File.join(File.dirname(__FILE__), "public", "_base.typekit.js")} -c -m`}
      document.documentElement.className += " javascript";
    :scss
      #{File.read(File.join(File.dirname(__FILE__), "public", "art", "_index.scss"))}
    %title Damien Dart's Artwork and Illustrations
  %body
    .header
      %h1.header__header.tk-adelle-sans Damien<span> Dart</span>'s Artwork
      %ul.header__navigation-list.tk-adelle-sans
        %li.header__navigation-list__item
          %a{:href => "/"} &larr; Damien Dart's Homepage
        %li.header__navigation-list__item
          %a{:href => "https://instagram.com/damiendart"} Instagram
        %li.header__navigation-list__item
          %a{:href => "http://blog.robotinaponcho.net/"} Tumblr
    - images.each do |image|
      %img.image{:alt => image["alt_text"], :class => (image["border"] ? "image--border" : nil), :height => image["height"], :src => image["filename"], :srcset => "#{image['filename_retina']} 2x", :title => image["title"], :width => image["width"]}
    %footer.footer.tk-adelle-sans
      %p.footer__copyright Copyright &copy; #{Date.today.strftime("%Y")} Damien Dart
    :javascript
      #{`uglifyjs public/art/_index.js -c -m`}
