{#
    Copyright (C) 2022 Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
#}

{% set metaTitle = metaTitle | default(title) | trim ~ ' (www.robotinaponcho.net)' %}

<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta content="initial-scale=1, width=device-width" name="viewport">

    {% block head %}
        <link href="/assets/style.{{ releaseTimestamp }}.css" rel="stylesheet">
    {% endblock %}

    <link href="{{ urlBase ~ slug }}" rel="canonical">
    <meta content="{{ author | smartypants }}" name="author">

    {% if description is defined %}
        <meta content="{{ description | smartypants }}" name="description">
        <meta content="{{ description | smartypants }}" property="og:description">
    {% endif %}

    <meta content="{{ metaOpengraphImage }}" property="og:image">
    <meta content="{{ metaTitle | smartypants }}" property="og:title">
    <meta content="website" property="og:type">
    <meta content="{{ urlBase ~ slug }}" property="og:url">
    <meta content="{{ metaTwitterAuthor | smartypants }}" property="twitter:creator">
    <meta content="{{ metaTwitterSite | smartypants }}" property="twitter:site">
    <meta content="summary_large_image" name="twitter:card">

    {% if metaNoCrawl | default(false) %}
        <meta content="noindex, nofollow" name="robots">
    {% endif %}

    <script>{% block headJavaScript "document.documentElement.className+='javascript',localStorage.getItem('theme')&&document.documentElement.setAttribute('data-theme',localStorage.getItem('theme'))" %}</script>
    <title>{{ metaTitle | smartypants }}</title>
</head>
<body>
    <div class="skip-links">
        <ul class="skip-links__list">
            <li class="skip-links__list__item">
                <a class="button button--small" href="#footer">Skip to footer</a>
            </li>
        </ul>
        <hr class="skip-links__rule">
    </div>
    <div class="{{ 'content ' ~ contentClasses | default('content') }}">
        <div class="content__container stack">

            {% block heading %}
                <h1 id="content">{{ title | smartypants | widont }}</h1>
            {% endblock %}

            {{ block('content') }}

            <footer id="footer" class="site-footer stack">
                <hr class="site-footer__rule">
                <nav>
                    {% if hideBreadcrumbs | default(false) %}
                        <p class="site-footer__navigation secondary-text"><strong>View</strong>:
                            <a href="/privacy-policy">Privacy Policy</a>, <a href="/sitemap">Sitemap</a>.</p>
                    {% else %}
                        <p class="site-footer__navigation secondary-text"><strong>Go back to</strong>:
                            {% for breadcrumb in breadcrumbs %}<a href="/{{ breadcrumb.getSlug }}">{{ breadcrumb.getTitle }}</a>{% if not loop.last %}, {% endif %}{% endfor %}.<br><strong>View</strong>:
                            <a href="/privacy-policy">Privacy Policy</a>, <a href="/sitemap">Sitemap</a>.</p>
                    {% endif %}
                </nav>
                <hr class="site-footer__rule">
                <p class="site-footer__copyright secondary-text stack__hug">Copyright © {{ 'now' | date('Y') }}
                    <a href="/">{{ author | smartypants }}</a>.</p>
            </footer>
        </div>
    </div>
    <script src="/assets/app.{{ releaseTimestamp }}.js" type="module"></script>
</body>
</html>
