{#
    Copyright (C) 2022 Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
#}

{% extends '@toolbox-sass/html-document.twig' %}

{% set metaAuthor = author %}
{% set metaCanonical = urlBase ~ slug %}
{% set metaDescription = description | default(false) %}
{% set metaOpengraphTitle = metaTitle | default(title) | smartypants | trim ~ ' (www.robotinaponcho.net)' %}
{% set metaOpengraphUrl = metaCanonical %}
{% set metaTitle = metaTitle | default(title) | smartypants | trim ~ ' (www.robotinaponcho.net)' %}

{% block body %}
    <div class="content">
        <div class="content__container">
            <header class="site-header">
                <div class="site-header__navigation site-header__navigation--skip-links">
                    <ul class="site-header__navigation__list">
                        <li class="site-header__navigation__list__item"><a href="#content">Skip to content</a></li>
                        <li class="site-header__navigation__list__item"><a href="#footer">Skip to footer</a></li>
                    </ul>
                </div>
                <hr class="site-header__rule">
                <p class="site-header__title"><a {% if slug is same as('') %}aria-current="page" {% endif %}href="/">{{ author }}</a></p>
                <nav class="site-header__navigation">
                    <ul class="site-header__navigation__list">
                        <li class="site-header__navigation__list__item{% if section is defined and section is same as('projects') %} site-header__navigation__list__item--active{% endif %}"><a {% if slug is same as('projects/') %}aria-current="page" {% endif %}href="/projects/">Projects</a></li>
                        <li class="site-header__navigation__list__item{% if section is defined and section is same as('notes') %} site-header__navigation__list__item--active{% endif %}"><a {% if slug is same as ('notes/') %}aria-current="page" {% endif %}href="/notes/">Notes</a></li>
                        <li class="site-header__navigation__list__item"><a href="mailto:damiendart@pobox.com">Contact</a></li>
                    </ul>
                </nav>
                <hr class="site-header__rule">
            </header>

            {% block heading %}
                <h1 id="content">{{ title | smartypants | widont | raw }}</h1>
            {% endblock %}

            {{ block('content') }}

            <footer id="footer" class="site-footer">
                <hr class="site-footer__rule">
                <p class="site-footer__copyright">Copyright © {{ 'now' | date('Y') }}
                    <a href="/">{{ author }}</a>.<br>View <a href="/privacy-policy">privacy policy</a>, <a href="/sitemap">site map</a>.</p>
            </footer>
        </div>
    </div>
    <script src="/assets/app.{{ releaseTimestamp }}.js" type="module"></script>
{% endblock %}

{% block headJavaScript %}
    {{ parent() }},localStorage.getItem('theme')&&document.documentElement.setAttribute('data-theme',localStorage.getItem('theme'))
{% endblock %}

{% block headCustom %}
    <link href="/assets/style.{{ releaseTimestamp }}.css" rel="stylesheet">
{% endblock %}
