{#
    Copyright (C) Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
#}

{% extends '.templates/base-markdown.html.twig' %}

{% set section = 'notes' %}

{% block content %}
    {% if git.createdAt == git.updatedAt %}
        <p><em>This note was created on
            <a href="https://github.com/damiendart/robotinaponcho/commit/{{ git.createdHash }}">{{ git.createdAt | date('d M, Y \\a\\t H:i') }}</a>.</em></p>
    {% else %}
        <p><em>This note was updated on
            <a href="https://github.com/damiendart/robotinaponcho/commit/{{ git.updatedHash }}">{{ git.updatedAt | date('d M, Y \\a\\t H:i') }}</a>.</em></p>
    {% endif %}

    {{ renderedMarkdown | prettyratings }}
{% endblock %}

{% block headCustom %}
    {{ parent() }}
    <link href="{{ urlBase }}notes/index.atom" rel="alternate" title="Damien Dart’s Notes (www.robotinaponcho.net)" type="application/atom+xml">
{% endblock %}

